[submodule "elementary"]
	path = elementary
	url = https://github.com/elemaudio/elementary.git
[submodule "juce"]
	path = juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "choc"]
	path = choc
	url = https://github.com/nick-thompson/choc.git
